body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-main {
    display: flex;
    height: 100%;
}

aside {
    padding: 20px;
    background-color: #333;
    color: white;
    width: 200px;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

aside a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: all 0.3s ease;
}

aside a:hover {
    background-color: #555;
}

.filter-info {
    color: black;
    display: flex;
    gap: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.filter-info .content_container p {
    margin: 5px 0;
        text-decoration: none
}

.filter-info .content_container p strong {
    font-weight: bold;
    text-decoration: none
}
.filter-info img{
    max-width: 500px;
    max-height: 400px;
}